<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>TypeMacX</string>
	<key>CFBundleIdentifier</key>
	<string>jp.co.aibos.inputmethod.TypeMacX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TypeMacX</string>
	<key>CFBundleDisplayName</key>
	<string>TypeMacX</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2026 AIBOS Inc. Based on Meltype by 雪代 / Yukishiro.</string>

	<!-- 自動アップデート (Sparkle 2、Update/Updater.swift)。公開鍵の対になる秘密鍵はログイン キーチェーン (アカウント typemacx) にある (tools/release/README.md) -->
	<key>SUFeedURL</key>
	<string>https://typemacx.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vwNYuy+tC0nhC8UWKFEhbza39smD2PnaTm5u5fN29P8=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>

	<key>InputMethodConnectionName</key>
	<string>jp.co.aibos.inputmethod.TypeMacX_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>TypeMacXInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>TypeMacXInputController</string>
	<key>TISInputSourceID</key>
	<string>jp.co.aibos.inputmethod.TypeMacX</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.tiff</string>
	<!-- 黒い M の形だけを使い、ダークモードでは白く出す (黒のままだと見えない) -->
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Hani</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>jp.co.aibos.inputmethod.TypeMacX.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.co.aibos.inputmethod.TypeMacX.Japanese</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>icon.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>icon.tiff</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hira</string>
					<string>Kana</string>
					<string>Hani</string>
					<string>Latn</string>
				</array>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>jp.co.aibos.inputmethod.TypeMacX.Japanese</string>
		</array>
	</dict>
</dict>
</plist>
